@import "base/mixins";
@import "base/variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins"; 

:host {
	display: flex;
}

:host-context(.clean-header) {

	.logo {
		pointer-events: none;
	}
}

.navbar {
	padding-top: 12px !important;
	padding-bottom: 12px !important;
}

// NTS: MAX WIDTH MEDIA QUERY
@media (max-width: map-get($grid-breakpoints, lg)) {

	.toggle-nav-main {
		width: 24px;
		height: 32px;
		cursor: pointer;

		span {
			position: relative;
			width: 100%;
			height: 2px;
			background-color: $white;
			transition: all, .3s ease-in-out;
			transform-origin: 50% 50%;
			border-radius: 1px;

			&:before,
			&:after {
				position: absolute;
				content: "";
				width: 100%;
				height: 2px;
				background-color: #fff;
				transition: all, .3s ease-in-out;
				border-radius: 1px;
			}

			&:before {
				top: -6px;
			}

			&:after {
				bottom: -6px;
			}
		}

		&.is-active {

			span {
				transform: rotate(45deg);
				transform-origin: 50% 50%;
				background-color: $valhalla;

				&:before {
					opacity: 0;
				}

				&:after {
					top: 0;
					transform: rotate(-90deg);
					background-color: $valhalla;
				}
			}
		}
	}

	.nav-main-wrap {
		max-height: 0;
		overflow: hidden;
		transition: max-height .3s ease-in-out;

		&.is-active {
			max-height: 1200px;
		}
	}

	.nav-main-wrap-footer {
		padding: 12px;
	}
}

@media (min-width: map-get($grid-breakpoints, lg)) {

	.navbar {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}
