<div class="navbar d-flex p-5">
	<a class="logo d-flex align-items-center" routerLink="/home">
		<img src="assets/img/avit.svg" alt="Avit" class="logo-img">
		<div class="logo-meta d-flex flex-column">
			<span class="company-name u-bold">Webex</span>
		</div>
	</a>
</div>

<div class="nav-main-wrap d-flex flex-column flex-lg-row flex-lg-fill">
	<nav class="nav nav-main d-flex flex-column flex-lg-row">
		<a routerLink="/" routerLinkActive="active">Home</a>
	</nav>

	<div class="nav-main-wrap-footer d-flex align-items-center justify-content-between ml-lg-auto">
		<avit-user></avit-user>
	</div>
</div>