/* =============================================
    Base
============================================= */ 

html {
	font-size: 52.5%;		
}

body {
	padding-top: 111px;
	font-family: $font-family-base;
	font-weight: $font-weight-light;
	font-size: 1.6rem;
	line-height: 24px;
	color: $dodger;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}

.head, h1, h2, h3, h4, h5, h6 { 
	font-family: $font-family-sec;
	font-weight: $font-weight-bold;
	word-break: break-word;
	text-transform: uppercase;
}

h1, .head1 {
	font-size: 3.6rem;
	line-height: 3.6rem;
}

h2, .head2 {
	font-size: 3.2rem;
	line-height: 4.8rem;
}

h3, .head3 {
	font-size: 2.4rem;
	line-height: 3.2rem;
}

h4, .head4 {
	font-size: 1.6rem;
	line-height: 2.4rem;
}

h5, .head5 {
	font-size: 1.6rem;
	line-height: 2.4rem;
}

h6, .head6 {
	font-size: 1.4rem;
	line-height: 2.4rem;
}

img {
	max-width: 100%;
	height: auto;
}

ol, ul, dl {
	margin: 0;
	padding: 0;
	list-style: none;
}

ol {
	list-style: decimal;
	list-style-position: inside;
}

a {
	color: $dodger;
	transition: all $default-transition;
	cursor: pointer;

	&:hover {
		text-decoration: none;
		color: $link-hover-color;
	}

	&:focus {
		outline: 0;
	}
}

strong {
	font-weight: $font-weight-bold;
}

[class*="container"] {
	padding-left: 0;
	padding-right: 0;
}