/* =============================================
    Helpers
============================================= */

// margin and paddings
.u-mb { margin-bottom: 4vw !important; }
.u-spacer { padding: 4vw !important; }
.u-remove-p { padding: 0 !important; }
.u-remove-pt { padding-top: 0 !important; }
.u-remove-pr { padding-right: 0 !important; }
.u-remove-pb { padding-bottom: 0 !important; }
.u-remove-pl { padding-left: 0 !important; }
.u-remove-m { margin: 0 !important; }
.u-remove-mt { margin-top: 0 !important; }
.u-remove-mr { margin-right: 0 !important; }
.u-remove-mb { margin-bottom: 0 !important; }
.u-remove-ml { margin-left: 0 !important; }

// layout
.u-bg-color-default { background-color: $white; }
.u-bg-color-pri { background-color: $valhalla; color: $white }
.u-bg-color-sec { background-color: $dodger; }
.u-default-radius { border-radius: $default-radius; }
.u-default-box-shadow { box-shadow: 0 0 10px 0 rgba(0,0,0,0.2); }

.u-full-width {
	max-width: 100%;
	width: 100%;
}

.cf { @extend %clearfix; }

// text helpers
.u-bold { font-weight: $font-weight-bold; }
.u-light { font-weight: $font-weight-light; }
.u-align-left { text-align: left; }
.u-align-center { text-align: center; }
.u-align-right { text-align: right; }
.u-uppercase { text-transform: uppercase }
.u-small-text { font-size: 1.3rem; }
.u-no-wrap { white-space: nowrap; }
.u-ellipsis { @include text-overflow(); }


// material helpers
.u-mat-form-no-padding {

	&.mat-form-field-appearance-legacy {

		.mat-form-field-wrapper {
			padding-bottom: 0;
		}

		.mat-form-field-underline {
			bottom: 0;
		}
	}
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;   
	border: 1px solid $gray-200;
	border-bottom: 0;
}

// ratio helpers
.ratio-16-7 { @include aspect-ratio(16, 7); }
.ratio-16-9 { @include aspect-ratio(16, 9); }
.ratio-4-3 { @include aspect-ratio(4, 3); }
.ratio-1-1 { @include aspect-ratio(1, 1); }