/* =============================================
    Mixins
============================================= */

@mixin placeholder {
    &.placeholder { @content }
    &::-webkit-input-placeholder { @content }
    &::-moz-placeholder { @content }
    &:-ms-input-placeholder { @content }
}

@mixin text-overflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

%clearfix {
	
    *zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
	}
	
    &:after {
        clear: both;
    } 
}



@mixin aspect-ratio($width, $height) {
	position: relative;
	
    &:before {
        display: block;
        content: "";
        width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	
    >.ratio-inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

/* voorbeeld Material Mixins */

// @mixin candy-carousel-theme($theme, $default-radius) {
//     $primary: map-get($theme, primary);
//     $accent: map-get($theme, accent);

//     .candy-carousel {
//         padding: 24px;
//         background-color: mat-color($primary);
//         border-color: mat-color($accent, A400);
//         border-radius: $default-radius;
//     }
// }

// @mixin candy-carousel-typography($config) {

//     .candy-carousel {

//         font: {
//             family: mat-font-family($config, body-1);
//             size: mat-font-size($config, body-1);
//             weight: mat-font-weight($config, body-1);
//         }
//     }
// }
