/* =============================================
    Custom Variables
============================================= */

@import "~@angular/material/theming";
@import "base/material-avit-theme"; 
 
$theme-primary: mat-palette($avit-pri);
$theme-accent: mat-palette($avit-sec);
$theme-warn: mat-palette($mat-red);
$avit-theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

// Colors    
$white: #fff !default;
$black: #000 !default;
$gray-200: rgba(0,0,0,0.1) !default;

$valhalla: mat-color($theme-primary);
$dodger: mat-color($theme-accent); 
$warning: mat-color($theme-warn);

$requested: #f97534;
$accepted: #1eabf0;
$noDocentFound: #e9e9e9;
$created: #159688; 
$started: #fae100;
$ended: #50ae55;
$aborted: #f1453d;

$is-online: $ended; // NTS deze status nog aanpassen
$is-busy: $requested; // NTS deze status nog aanpassen
$is-offline: $aborted; // NTS deze status nog aanpassen

$default-radius: 6px;
$default-transition: .2s;
$img-path: "../img";

// Body  
$body-bg: #f1f1f1;
$body-color: $dodger;

// Links  
$link-hover-decoration: underline;
$link-hover-color: $accepted;

// Paragraphs  
$paragraph-margin-bottom: 0; 

// Fonts  
$font-family-base: 'Ubuntu', sans-serif; 
$font-family-sec: $font-family-base; 
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$h1-font-size: 3.6rem;
$h2-font-size: 3.2rem;
$h3-font-size: 2.4rem;
$h4-font-size: 1.6rem;
$h5-font-size: $h4-font-size;
$h6-font-size: $h4-font-size;

$headings-margin-bottom: 1.25em;

// Modals  
$modal-backdrop-bg: rgba(0, 0, 0, 0.5);
$modal-backdrop-opacity: 1;

// Close  
$close-text-shadow: none;
