@import 'base/mixins'; 
@import 'base/variables';   
@import "bootstrap/scss/functions"; 
@import "bootstrap/scss/variables"; 
@import "bootstrap/scss/mixins";

.modal-header {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    background-color: $valhalla;
    
    .head {
        margin: 0;
        color: $gray-800;
    }
}

.validation-error {
	color: $aborted;
	font-weight: $font-weight-bold;
}

:host {
    
    ::ng-deep {

        .modal-footer {
            padding-top: 12px !important;
            padding-bottom: 12px !important;
        }
    }
}