<div class="modal-header d-flex align-items-center p-4">
    <h3 class="head head3">{{ modalTitle }}</h3>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="validation-error p-4" *ngIf="showErrors">{{error}}</div>
<ng-content></ng-content>
