/* =============================================
    Defaults
============================================= */

.page-header {
	position: fixed;
	z-index: 970;
	top: 0;
	right: 0;
	left: 0;
	background-color: $dodger;
	padding: 0;
	margin: 0;
	border-bottom: none;
}

.navbar {
	margin: 0;
	border: none;
}

.logo {

	.logo-img {
		width: auto;
		height: 32px;

		+ .logo-meta {
			margin-left: 12px;
		}
	}

	.company-name {
		font-family: $font-family-base;
		font-size: $h3-font-size;
		color: $white;
		text-transform: uppercase;
		transition: all $default-transition;
	}

	.release-number {
		color: $white;
		line-height: 13px;
	}

	&:hover {

		.company-name {
			color: $valhalla;
		}
	}
}

.sub-header {
	position: fixed;
	z-index: 960;
	top: 55px;
	left: 0;
	right: 0;
	padding-top: 12px !important;
	padding-bottom: 12px !important;
	background-color: $white;
	border-bottom: 1px solid $gray-200;

	.head {
		margin-bottom: 0;
	}
}

.sub-header-actions {

	> * + * {
		margin-left: 6px;
	}

	+ .head {
		margin-left: 24px;
	}
}

.page-content {
	height: calc(100vh - 111px);
	overflow: auto;
}

.version {
	position: absolute;
	right: 24px;
	bottom: 24px;
	font-family: $font-family-base;
	font-weight: $font-weight-bold;
}

.modal-backdrop {
	z-index: 980 !important;
}

.modal {
	z-index: 990;

	&.zoom-start-manual .mat-step-header .mat-step-icon:not(.mat-step-icon-selected) {
		color: $white;
	}
}

.section-browser-not-supported,
.section-login {
	height: 100%;
}

.expertise {
	display: flex;
	align-items: center;
	position: relative;

	&:before {
		content: "";
		min-width: 24px;
		min-height: 24px;
		margin-right: 6px;
		border: 1px solid $gray-200;
		background-color: $white;
		background-image: url(/assets/img/default-icon.svg);		
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 14px auto;
	}
	
	&.md {
		
		&:before {
			margin-right: 12px;
			min-width: 32px;
			min-height: 32px;			
			background-size: 24px auto;
		}
	}

	&.outlook { &:before { background-image: url(/assets/img/outlook.svg) }}
	&.word { &:before { background-image: url(/assets/img/word.svg) }}
	&.teams { &:before { background-image: url(/assets/img/teams.svg) }}
	&.excel { &:before { background-image: url(/assets/img/excel.svg) }}
	&.office { &:before { background-image: url(/assets/img/office.svg) }}
	&.sharepoint { &:before { background-image: url(/assets/img/sharepoint.svg) }}
	&.powerpoint { &:before { background-image: url(/assets/img/powerpoint.svg) }}
	&.windows { &:before { background-image: url(/assets/img/windows.svg) }}	
}

.mat-tooltip {
    font-size: 16px !important;
}

// timepicker
.avit-app {

	.timepicker {
		width: 320px !important;
		border-radius: 0 !important;
	}
	
	.timepicker-dial__period {
		margin-left: 20px !important;
	}
	
	.timepicker__actions {
		
		> * + * {
			margin-left: 12px;
		}
	}
}
