/* =============================================
    Badge
============================================= */

.badge-container {
    margin-left: -6px;
	margin-top: -6px;
	
	.badge {
		margin: 6px 0 0 6px;
	}
}

.badge {
    display: inline-flex;
    font-size: 1.6rem;
    font-weight: $font-weight-light;
    padding: 6px 12px;
    border-radius: $default-radius / 2;
	background-color: $gray-200;
	color: $white;

	&.sm {
		font-size: 13px;
	}

    &.badge-primary {
		background-color: $valhalla;
		color: $dodger;
	}

	&.requested {
		background-color: $requested;
	}

	&.accepted {
		background-color: $accepted;
	}

	&.no-docent-found {
		background-color: $noDocentFound;
		color: $dodger;
	}

	&.created {
		background-color: $created;
	}

	&.noshow {
		color: $dodger;
	}

	&.iscontactrequested {
		color: $dodger;
	}

	&.started {
		background-color: $started;
		color: $dodger;
	}

	&.planned {
		color: $dodger;
	}

	&.timetostartplannedsessie  {
		color: $dodger;
	}

	&.ended {
		background-color: $ended;
	}

	&.aborted {
		background-color: $aborted;
	}	

	&.nodocentfound {
		color: $dodger;
	}
}
