/* =============================================
    Buttons
============================================= */ 

.btn, 
button {

	&:focus {
		outline: 0;
	}
}

// geen .btn class gebruiken dit doet bootstrap ook
.bttn {
    border: 2px solid;
	border-color: $dodger;
	font-family: $font-family-base;
	font-size: 1.6rem;		
	font-weight: $font-weight-regular;
	color: $dodger;	
    text-transform: uppercase;
	transition: all, $default-transition ease-in-out;
	cursor: pointer;
	white-space: nowrap;

	&:disabled {
		background-color: $white !important;
		border-color: $gray-300 !important;
		color: $gray-300 !important;
	}		

	// sizes
	&.sm {
		min-height: 20px;
		padding: 0 12px;
		font-size: 1.3rem;
		line-height: 20px;	
	}

	&.md {		
		min-height: 28px;
		padding: 0 24px;
		line-height: 28px;
	}

	&.lg {		
		min-height: 44px;	
		padding: 0 24px;
		line-height: 44px;
	}	

	// button extras
	&.has-badge {
		position: relative;
		
		.bttn-badge {
			position: absolute;	
			display: flex;
			align-items: center;
			justify-content: center;
			width: 20px;
			height: 20px;
			background-color: $aborted;
			color: $white;
			font-weight: $font-weight-bold;
			font-size: 1.3rem;
			border-radius: 50%;
		}

		// badge position
		&.badge-left {

			.bttn-badge {
				top: -10px;
				left: -10px;
			}
		}

		&.badge-right {

			.bttn-badge {
				top: -10px;
				right: -10px;
			}
		}		
	}
	
	// button types
	&.bttn-default {	
		background-color: $white;
		border-color: $dodger;
		color: $dodger;
	
		&:focus,
		&:hover {
			background-color: $valhalla;
			border-color: $valhalla;
			color: $dodger; 
		}
	}

	&.bttn-pri {
		background-color: $valhalla;
		border-color: $valhalla;
		color: $dodger;
	
		&:focus,
		&:hover {
			background-color: $white;
			border-color: $dodger;
			color: $dodger; 
		}
	}	

	&.bttn-sec {
		background-color: transparent;
		border-color: $white;
		color: $white;
	
		&:focus,
		&:hover {
			background-color: $valhalla;
			border-color: $valhalla;
			color: $dodger; 
		}
	}	
}
