/* =============================================
    Forms
============================================= */

// remove autofocus color chrome
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

label {
	margin-bottom: 0;
}

input[type=text]:focus {
    outline: 0 !important;
}

// prefix nodig omdat dit een global style is en nog niet binnen een component zit
.avit-app {

	.mat-form-field {
		width: 100%;

		&.mat-focused {

			.mat-form-field-label {
				color: $gray-800;

				.mat-form-field-required-marker {
					color: rgba(0, 0, 0, 0.54);
				}
			}

			.mat-form-field-ripple {
				background-color: $gray-800;
			}
		}

		&.mat-form-field-invalid {
			
			.mat-form-field-label {
				color: rgba(0, 0, 0, 0.54);

				.mat-form-field-required-marker {
					color: rgba(0, 0, 0, 0.54);
				}
			}
		}
	}

	mat-form-field {
		font-size: 16px;
		line-height: 24px;
	}
}
