/* =============================================
    Icons
============================================= */

fa-icon + span,
span + fa-icon,
.icon + span,
span + .icon {
	margin-left: 1rem;
}

.icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 2px solid;
	transition: all, $default-transition;
	cursor: pointer;

	&.disabled {
		background-color: $white !important;
		border-color: $gray-300 !important;
		color: $gray-300 !important;
		cursor: not-allowed;

		path {
			fill: $gray-300 !important;
		}		
	}		

	// sizes
	&.sm {
		min-width: 24px;
		min-height: 24px;
		width: 24px;
		height: 24px;
	}

	&.md {
		min-width: 32px;
		min-height: 32px;		
		width: 32px;
		height: 32px;
	}

	&.lg {
		min-width: 48px;
		min-height: 48px;		
		width: 48px; 
		height: 48px;
	}

	// icon types
	&.icon-default {
		background-color: $white;
		border-color: $dodger;
		color: $dodger;			

		&:hover {
			background-color: $valhalla;
			border-color: $valhalla;
			color: $dodger;				
		}
	}		

	&.icon-delete {
		border-color: $is-offline;
	
		path {
			fill: $is-offline;
		}
			
		&:hover {
			background-color: $is-offline;

			path {
				fill: $white;
			}
		}
	}
}
