/* =============================================
    List
============================================= */

.list {

	&.list-bordered {

		.list-item {

			+ .list-item {
				border-top: 1px solid $gray-200;
			}
		}
	}

	&.sm {

		.list-item {
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
	}

	&.md {

		.list-item {
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
		}
	}	
}

.list-actions {

	> * + * {
		margin-left: 1rem;
	}
}

