/* =============================================
    Mat menu

    NTS: https://material.angular.io/guide/customizing-component-styles
============================================= */


// prefix nodig zodat selector specifieker is dit omdat de dropdown onderaan de dom word geinclude
.avit-app {

    .mat-menu-content:not(:empty) {
        padding-top: 0;
        padding-bottom: 0;
    }
 }

.mat-menu-item:hover:not([disabled]) {
    background-color: $valhalla;
}
