/* =============================================
    Navs
============================================= */

.nav {
    
    &.nav-main {

        a {
            padding: 12px;
            color: $white;
            
            &.active,
            &:hover {
                background-color: $valhalla;
                color: $gray-800;
                text-decoration: none;
            }        
        }
    }
} 

// NTS: MAX WIDTH MEDIA QUERY
@media (max-width: map-get($grid-breakpoints, lg)) { 

    .nav {
    
        &.nav-main {
    
            a { 
                border-bottom: 1px solid rgba(255,255,255,0.1);
                
                &:first-child {
                    border-top: 1px solid rgba(255,255,255,0.1);
                }
            }
        }
    } 
}

@media (min-width: map-get($grid-breakpoints, lg)) { 

    .nav {
    
        &.nav-main {
            margin-left: 32px; 
    
            a {
                display: flex;
                align-items: center;

                + a {
                    border-left: 1px solid rgba(255,255,255,0.1);
                }                                       
            }
        }
    } 
}