/* =============================================
    Notifications
============================================= */

.notification {
    padding: 1.25rem;
    border: 1px solid;
    background-color: $white;
    border-radius: $default-radius;
    font-weight: $font-weight-regular;

    + .notification {
        margin-top: 24px;
    }

    &.succes {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;        
    }

    &.danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;        
    }

    &.warning {
        color: #856404;
        background-color: #fff3cd;
        border-color: #ffeeba;        
    }

    &.info {
        color: #0c5460;
        background-color: #d1ecf1;
        border-color: #bee5eb;
    }
}