/* =============================================
	Select
	url: https://material.angular.io/components/select/overview
============================================= */

.avit-app {

	.mat-primary {
	
		.mat-option {
		
			&.mat-selected:not(.mat-option-disabled) {
				color: $dodger;
			}
		}
	}

	.mat-select-panel .mat-option {

		height: 100% !important;
	}
}
