/* =============================================
    Tables
============================================= */

table {
    width: 100%;
}

table {
	width: 100%;

	th {

		&.mat-header-cell {
			font-size: 1.6rem;
			color: $gray-800;
			padding: 12px;
			background: $gray-100;
	
			&:first-of-type {
				padding-left: 12px;
			}
	
			&:last-of-type {
				padding-right: 12px;
			}	
		}
	}

	td {

		&.mat-cell {
			font-size: 1.6rem;
			padding: 12px;
		
			&:first-of-type {
				padding-left: 12px;
			}
			
			&:last-of-type {
				padding-right: 12px;
			}		
		}
	}
}

.table-actions {

	> * + * {
		margin-left: 1rem;
	}
}
