/* =============================================
    Tiles
============================================= */

.tile {
	
	&.tile-body-loader{
		position: relative;
	}
}

.tile-header {
	border-bottom: 1px solid $gray-200;
	min-height: 60px;

    .head {
        margin-bottom: 0;
	}
}
