@import "base/mixins";
@import "base/variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

:host {

	&:hover {
		cursor: pointer;

		.dropdown {
			display: block;
		}
	}
}

.avatar {
	position: relative;
	width: 32px;
	height: 32px;

	&.is-rounded {

		img {
			border-radius: 50%;
		}
	}

	+ .user-meta {
		margin-left: 12px;
	}
}

.user-meta {
	position: relative;
	color: $white;
}

.user-name {

	.user-name-text {
		max-width: 150px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	fa-icon {
		font-size: 2rem;
	}
}

.dropdown {
	display: none;
	position: absolute;
	z-index: 200;
	top: 20px;
	right: 0;
	min-width: 200px;
	padding-top: 12px;

	a {
		display: block;
	}
}

.dropdown-inner {
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}