<div class="avatar is-rounded has-state">
	<img src="assets/img/avatar.jpg">
</div>

<div class="user-meta">
	<span class="user-name d-flex align-items-center">
		<span class="user-name-text u-no-wrap">{{name}}</span>
	</span>

	<div class="dropdown">
		<div class="dropdown-inner u-bg-color-default">
			<ul class="list list-bordered">
				<li class="list-item">
				</li>
				<li class="list-item">
					<a [routerLink]="[ '/logout' ]" class="p-3">
						<fa-icon [icon]="['fas','sign-out-alt']" size="md"></fa-icon>
						<span>Afmelden</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>